<div class="number-field">
	<% option_string = option_value.to_s %>

	<% unless option_string.include? 'border_radius' %>
		<%= number_field_label_text(o, option_string, option_value) %>
	<% end %>

  <%= o.number_field option_value %>

  <% if option_string.include? 'opacity' %>
	  <div class="px">%</div>
  <% else %>
	  <div class="px">px</div>
  <% end %>

  <%= number_field_bottom_label(option_string) %>
</div>