<span class="wittyIcon">
<canvas class="wittyIcon-canvas" height="1" width="1"></canvas>
<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
    <title></title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="14" font-family="FontAwesome" font-weight="normal">
        <g id="Desktop-HD" transform="translate(-514.000000, -2422.000000)" fill="#404041">
            <g id="Header-Settings" transform="translate(279.000000, 2258.000000)">
                <g id="Group-10" transform="translate(195.373006, 133.000000)">
                    <text id="">
                        <tspan x="39.8384479" y="41.771278"></tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>
</span>