/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= stub timer_js
 *= require_self
 *= require jquery.minicolors
 */

@import "bootstrap";

@font-face {
    font-family:'Gotham';
    src: url('GothamRounded-Medium.eot');
		src: url('GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
			url('GothamRounded-Medium.woff2') format('woff2'),
			url('GothamRounded-Medium.woff') format('woff'),
			url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family:'Gotham';
    src: url('GothamRounded-Light.eot');
		src: url('GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
			url('GothamRounded-Light.woff2') format('woff2'),
			url('GothamRounded-Light.woff') format('woff'),
			url('GothamRounded-Light.svg#GothamRounded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family:'Gotham';
    src: url('GothamRounded-Book.eot');
		src: url('GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
			url('GothamRounded-Book.woff2') format('woff2'),
			url('GothamRounded-Book.woff') format('woff'),
			url('GothamRounded-Book.svg#GothamRounded-Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family:'Gotham';
    src: url('GothamRounded-Bold.eot');
		src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
			url('GothamRounded-Bold.woff2') format('woff2'),
			url('GothamRounded-Bold.woff') format('woff'),
			url('GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

body {
	background: #EEEFF0;
	text-align: left;
  font-family: 'Gotham';
}

input,
select {height:40px;}

label {
	color: #9B9B9B;

	&.major {color:#404041;}
}

.form-group {
	margin: 0;
}

.well {background: #fff;padding:50px;}

.select-container {
	display: inline-block;
  vertical-align: top;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.margin-padding-container {
  display: inline-block;

	& > label {
	  display: block;
	}
}

.float-position-container {
	display: inline-block;
}

.number-field {
	display: inline-block;
  vertical-align: top;

	label {
    text-align: left;
    float: left;
    color: #9B9B9B;
    font-size: 14px;
    display: block;

    &.below {
			clear: left;
	    line-height: 1;
	    text-align: center;
	    width: 100%;
	    font-size: 10px;
	    margin: 0;
	    text-transform: capitalize;
    }
	}

	input[type="number"] {
		width: 40px;
    height: 40px;
    float: left;
    clear: left;
		min-width: 0;
		border: 1px solid #D5D5D5;
		border-radius: 4px 0 0 4px;
	}

	.px {
		content: 'px';
		color: #9B9B9B;
		background: #EEEFF0;
		border-radius: 0 4px 4px 0;
		padding-top: 9px;
		width: 40px;
	  height: 40px;
  	border: 1px solid #D5D5D5;
		border-left: 0;
		float: left;
		text-align: center;
	}
}

.minicolors-theme-default .minicolors-input.color_picker_visable + .minicolors-swatch {
	top: 11px;
	left: 10px;
	border-color: #E0E0E0;
	border-radius: 4px;
}

.minicolors-theme-default .minicolors-input.color_picker_visable {
  height: 40px;
  padding-left: 34px;
  border-radius: 4px;
  border-color: #E0E0E0;
}

.color_picker_visable {
	cursor: pointer;
}

.list-group {
	margin-top: 20px;
}

.list-group {margin-left:0;}

.border-attr {
	display: inline-block;
  vertical-align: top;

	.minicolors {
		vertical-align: top;
	}

	.color-field {
		vertical-align: top;
	}

	label {
    width: auto;
    display: block;
	}
}

select {
	background-position: right 1.0rem top 1.25rem;
}

.float-position-container {

	label {width: 100%;}

	.float-position-select {
    height: 40px;
    display: inline-block;
    width: auto;
    vertical-align: top;
	}
}

.color-field {
	display: inline-block;
  vertical-align: top;

	label {
		width: auto;
    display: block;
	}
}

.header-label {
	text-align: center;

	h2 {
    display: inline-block;
    font-size: 25px;
    // margin-bottom: 0;
	}

	input[type="checkbox"] {display:none;}

	.enable-label {
		text-indent: -99999px;
		background: #ddd;
    border-radius: 15px;
    height: 25px;
    width: 47px;
    margin: 0;
    vertical-align: super;
    margin-left: 50px;
    cursor: pointer;
    position: relative;
    transition: background .3s;
	}

	.enable-label:before {
    content: '';
    background: #fff;
    width: 17px;
    height: 17px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 6px;
    border-radius: 9px;
    transition: left .3s linear;
	}

	input[type="checkbox"]:checked + .enable-label {
    background: #00EE64;
	}

	input[type="checkbox"]:checked + .enable-label:before {
		left: 24px;
		// right: 6px;
	}
}

.select-group {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  overflow: hidden;

	& > select {
    border: 0;
    border-radius: 0;
	}

	.styled-select {
    border-top: 1px solid #E0E0E0;

		label {
			width: 50%;
	    float: left;
	    margin: 0;
	    color: #9B9B9B;
	    background: #EEEFF0;
	    font-size: 10px;
	    height: 40px;
	    border-radius: 0 0 0 4px;
	    padding: 14px;
	    line-height: 1;
		}

		select,
		input {
			width: 50%;
	    float: left;
	    border-radius: 0 0 4px 0;
	    border: 0;
	    border-left: 1px solid #E0E0E0;
	    height: 40px;
		}
	}
}

.options-row {

	label.major {display: block;}

	&> * + div {
		margin-left: 22px;
	}

	&+ .options-row {
		margin-top: 35px;
	}
}



















