.wittyIcon {
  display: inline-block;
  height: 1em; /* default icon height */
  position: relative;
  user-select: none;
}

.wittyIcon-canvas {
  display: block;
  height: 100%;
  visibility: hidden;
}

.wittyIcon svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#wittyCartFloatTimer {
	z-index: 99999;
	padding: 10px;
	width: 205px;
  text-align: center;
  line-height: 1.25;

	.wittyCountDownTimer {
		margin-top: 5px;
	}

  .wittyClose {
  	position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    color: #bbb;
  }
}

#wittyCartHeaderTimer {
  float: left;
  line-height: 1;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  display:block;

  .wittyIcon {
    vertical-align: top;
  }

  .wittyCountDownTimer {
    vertical-align: top;
    margin-left: .33em;
  }
}

#wittyCartCartTimer {
  display:block;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wittyCountDownTimerHolder {
    align-self: stretch;
    border-right: 1px solid #fff;
    // padding-right: 16px;
    display: flex;
  }

  .wittyMessage {
    text-align: center;
  }

  .wittyCountDownTimer {
    align-self: center;
  }

  #wittyCartpageButtons {
    display: flex;

    #wittyButtonCheckout {
      margin-left: 10px;
      white-space: nowrap;
    }

    #wittyButtonShopping {
      white-space: nowrap;
    }
  }
}



















